@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html{
    margin: 0;
    padding: 0;
    min-width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
    font-family: "Poppins",sans-serif;
}
body{
    background: url(https://media.istockphoto.com/photos/blue-light-defocused-blurred-motion-abstract-background-picture-id1212284111?b=1&k=20&m=1212284111&s=170667a&w=0&h=mM-UQapmM5wkmCE4CPZNNSfFMfQJKM9Bj8rQRt7leao=);
    background-size: cover;
    margin: 0;
    padding: 0;
    min-width: 100%;

}

.login-desk{
    box-shadow:5px 5px 3px ;
    margin-top: 2%;
    margin-bottom: 2%;
}
.pic{
    width: 450px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.detail-box{
    background: #fff;
    color: black;
    padding: 42px;
}
.detail-box h2{
    font-size: 2rem;
    text-align: center;
}
.detailsh p{
    font-size: .9rem;

}
.detailsh{
    text-align: center;
}
.detailsh-box h3{
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.loginform{
    background: #4c56c0;
    text-align: center;
    padding: 50px;
}
.loginform h4{
    color: blanchedalmond;
    font-size: 26px;
}
.loginform{
    font-size: 0.8rem;
    margin-bottom: 30px;
}
.loginform a{
    color: blanchedalmond;
    text-decoration: none;
}
.loginform a:hover{
    color: #051235;
}
.login-det .form-row{
    margin-top: 20px;
}
.login-det label{
    font-size: .80rem;
}

.input-group .input-group-prepend .input-group-text{
    background-color: #1818aa;
    color: blanchedalmond;
    border-right: 0px;
    border: 0px;
}
.form-control{
    background-color: #2f3368;
    font: bold;
    border-left: 0px;
    color: #fff;
    border: 0px;
    height: 40px;
}
.form-control:focus{
    border: 0px;
}
.btn-danger{
    width: 100%;
    border-radius: 0px;
    background-color: #fa607e;
    border-radius: 5px;
}
.SignUp{
    float: left;
}
.forget{
    float: right;
}
.social-link ul{
    float: left;
    margin-top: 20px;
}
.social-link li{
    float: left;
    padding: 15px;
    font-size: .9rem;
}
@media(max-width:991px){
    .form-login-body{
        padding-left: 50px;
        padding-right: 50px;
    }
    .detailsh.pic{
        width: 100%;
    }
}
@media(max-width:480px){
    .form-login-body{
        padding-left: 50px;
        padding-right: 50px;
    }   
    .detailsh{
        width: 100%;
    }
}
@media(max-width:991px){
.container{
    padding: 50px;
}
}
@media screen and (max-width:600px){
    .container{
        padding: 50px;
    }
}
@media screen and (max-width:600px){
.detailsh.pic{
    width:100%;
}
}